{{define "content"}}
<div class="search-block">
    <form method="GET" action="/devices">
        <input type="text" name="search" placeholder="Поиск" value="{{.Search}}">
        <button type="submit">🔍</button>
    </form>
</div>
<div class="card-grid">
    {{range .Devices}}
        <div class="device-card">
            <div class="protocol-badge">{{.Protocol}}</div>
            <img src="/static/img/{{.Image}}" alt="{{.Name}}" width="120">
            <div class="device-title">{{.Name}}</div>
            <div class="device-desc">{{.Description}}</div>
            <div class="device-buttons">
                <a class="device-btn-gray" href="/devices/{{.ID}}">Подробнее</a>
                <a class="device-btn-purple" href="/requests/{{.ID}}">Расчет</a>
            </div>
        </div>
    {{end}}
</div>
{{end}}
