{{define "content"}}
<div class="request-detail">
    <h2>Расчет устройства: {{.Device.Name}}</h2>
    <img src="/static/img/{{.Device.Image}}" width="120">
    <div>
        <b>Модель:</b> {{.Device.Model}}<br>
        <b>Мощность:</b> {{.Device.PowerMin}}-{{.Device.PowerMax}} Вт<br>
        <b>Среднее время работы (сут):</b> {{.Device.AvgHours}}<br>
        <b>Протокол:</b> {{.Device.Protocol}}
    </div>
    <br>
    <a class="device-btn-gray" href="/devices/{{.Device.ID}}">Назад</a>
    <a class="device-btn-purple" href="/devices">Домой</a>
</div>
{{end}}
